body {
  background-color: #fffae2;
  color: #4d0101;
  font-family: "Poppins", monospace;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
ul,
p,
dt,
dd {
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.menu-bg {
  grid-column: 3 / 5;
  background-color: #e36a35;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
}

/* MAIN */

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  grid-template-columns: 85px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: #c94b23;
}

.animais h3::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #ffb762;
}

.animais p {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lista-img {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.lista-img::-webkit-scrollbar {
  width: 1rem;
}

.lista-img::-webkit-scrollbar-thumb {
  background: #ffb762;
  border-left: 4px solid #fffae2;
  border-right: 4px solid #fffae2;
}

.lista-img::-webkit-scrollbar-track {
  background: #fffae2;
}

.descricao {
  grid-column: 3;
}

.descricao section {
  margin-bottom: 3rem;
}

.descricao section span {
  font-weight: 700;
  color: #c94b23;
}

.lista-faq {
  grid-column: 2 / 4;
}

.lista-faq dt {
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #c94b23;
}

.lista-faq dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #ffb762;
}

.lista-faq dd {
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #ffb762;
}

/* FOOTER */

.footer {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: #e36a35;
  padding: 1rem;
  font-weight: 700;
}

/* MEDIA QUERY */
@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }
  .menu ul {
    gap: 40px;
  }
  .menu-bg,
  .grid-section,
  .footer {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr;
    gap: 10px;
  }
  .lista-img {
    grid-column: 1;
  }
  .lista-faq,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1,
  .grid-section h2 {
    font-size: 3rem;
  }
  .menu-bg {
    margin-top: 0rem;
  }
  .footer {
    margin-bottom: 0rem;
  }
}
